.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  color: gray;
  border: 2px solid green;
  padding: 1em;
}

.card-pic {
  height: 15rem;
  width: 15rem;
}
.card-title {
  text-align: center;
}
@media (max-width: 600px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
  }
}
